body{

  cursor:none;
}

.box {

  width: 75%; 
  height: auto; 
  background-color: #0b0b0b;
  box-shadow: 0 0 10px 5px rgb(57, 57, 57); 
  margin-left: 13%; 
  margin-right: 10%;
  margin-top: 150px;
}

.box h2 {

  font-size: 40px;
  font-family: 'Oswald';
  color: rgb(255, 166, 0);
  text-align: center;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.box img{

  height: auto;
  width: 80%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;

}

.box p{

  font-family: 'Georgia';
  color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);

}
.box span{
  
  font-family: 'Teko';
  color: aquamarine;
  font-size: 35px;
  letter-spacing: 1px;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.images-radius{

  border-radius: 40px;
}

@media (max-width: 768px) {

  .box img {
    height: auto;
    width: 91%; 
    margin-left: 5%; 
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 4%;
  }

  .box p {
    font-size: 13px; 
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }

  .box span {
    font-size: 25px; 
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }

  .box h2 {
    font-size: 25px; 
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }

  .box {
    width: 91%; 
    margin-left: 5%; 
    margin-right: 6%;
    margin-top: 130px;
  }

  .images-radius{
    border-radius: 20px;
  }

}









/*-------------------- Chat-Bot --------------------*/

.chatnew {

  width: 62px;
  height: 62px;
  position: fixed;
  z-index: 100;
  right: 80px;
  bottom: 50px;
  border-radius: 50%;
}

@media (max-width:768px) {

  .chatnew{
    right: 17px;
    bottom: 17px;

  }
}









/*-------------------- Cursor --------------------*/

.cursor {

  width: 20px;
  height: 20px;
  border: 2px solid #ff0000; 
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, border-color 0.3s ease;
  z-index: 9999; 
}

.hovered {

  border-color: #00ff00; 
}


@media (max-width:768px){

  .cursor{
  display: none;

  }
}

.body-entier{

  cursor: none;
}

.cursor-chatbot {

  cursor: none;
}









/*-------------------- LOADER --------------------*/

@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #191c1d, #06141a);
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 18s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}









/*-------------- Rack To Top ---------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-prussian-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) { box-shadow: var(--shadow-2); }

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}








